@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,800;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.red {
  color: rgba(255, 0, 0, 0.714);
}
.green {
  color: rgba(3, 168, 3, 0.603);
}
.yellow {
  color: rgba(255, 255, 0, 0.655);
}
.size {
  font-size: 0.7rem;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
p {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.title {
  margin-top: 4rem;
  padding-bottom: 2rem;
}
.blue {
  padding-left: 2.5rem;
  /* background-color: rgba(4, 4, 172, 0.742); */
  /* margin-top: 6rem; */
}
.icons {
  margin-top: 6rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container1 {
  width: 400px;
  color: white;
  background-color: rgb(68, 1, 156);
}
i {
  font-size: 1.2rem;
}
p {
  color: rgba(255, 255, 255, 0.7);
}
h2,
h3 {
  color: rgb(233, 230, 230);
  font-weight: 600;
}
h4 {
  color: rgb(211, 209, 209);
  font-weight: 550;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: centre;
  justify-content: center;
  gap: 5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 847px;
  height: auto;
  margin-left: 10rem;
}
.header {
  text-align: center;
}
.container2 {
  padding-top: 4rem;

  /* text-align: center; */
}
.checkbox {
  display: flex;
  gap: 3rem;

  /* gap: 2rem; */
}
.row {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.column {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}
.number {
  margin: 1rem 0;
}
input {
  padding: 0.5rem 2rem;
}
button {
  padding: 0.5rem 2rem;
  width: 100%;
  margin: 1rem 0;
  border-radius: 5px;
  background-color: rgb(68, 1, 156);
  color: white;
  font-weight: 600;
  border: none;
}
html {
  font-size: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  .container1 {
    width: 45%;
  }
  .container2 {
    width: 45%;
  }
  .checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
